<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Basket</title>
    <link rel="stylesheet" th:href="@{/css/basket.css}" />
    <head th:replace="global :: global-head"> </head>
  </head>
  <body>
    <nav th:replace="global :: navbar"></nav>
    <div class="styled_content basket_content">
      <div class="card products_container">
        <div class="product_item">
          <img
            class="product_item_image"
            src="https://media.tenor.com/xCc58fEqFREAAAAd/nerd-nerdy.gif"
          />
          <div class="product_item_content">
            <div class="product_item_title">Xd gowno</div>
            <div class="product_item_price">512 zł</div>
          </div>
          <div class="product_item_delete">
            
          </div>
        </div>
        <div class="product_item">
          <img
            class="product_item_image"
            src="https://media.tenor.com/xCc58fEqFREAAAAd/nerd-nerdy.gif"
          />
          <div class="product_item_content">
            <div class="product_item_title">Xd gowno</div>
            <div class="product_item_price">512 zł</div>
          </div>
          <div class="product_item_delete">
            
          </div>
        </div>
        <div class="product_item">
          <img
            class="product_item_image"
            src="https://media.tenor.com/xCc58fEqFREAAAAd/nerd-nerdy.gif"
          />
          <div class="product_item_content">
            <div class="product_item_title">Xd gowno</div>
            <div class="product_item_price">512 zł</div>
          </div>
          <div class="product_item_delete">
            
          </div>
        </div>
        <div class="product_item">
          <img
            class="product_item_image"
            src="https://media.tenor.com/xCc58fEqFREAAAAd/nerd-nerdy.gif"
          />
          <div class="product_item_content">
            <div class="product_item_title">Xd gowno</div>
            <div class="product_item_price">512 zł</div>
          </div>
          <div class="product_item_delete">
            
          </div>
        </div>
        <div class="product_item">
          <img
            class="product_item_image"
            src="https://media.tenor.com/xCc58fEqFREAAAAd/nerd-nerdy.gif"
          />
          <div class="product_item_content">
            <div class="product_item_title">Xd gowno</div>
            <div class="product_item_price">512 zł</div>
          </div>
          <div class="product_item_delete">
            
          </div>
        </div>
        <div class="product_item">
          <img
            class="product_item_image"
            src="https://media.tenor.com/xCc58fEqFREAAAAd/nerd-nerdy.gif"
          />
          <div class="product_item_content">
            <div class="product_item_title">Xd gowno</div>
            <div class="product_item_price">512 zł</div>
          </div>
          <div class="product_item_delete">
            
          </div>
        </div>
        <div class="product_item">
          <img
            class="product_item_image"
            src="https://media.tenor.com/xCc58fEqFREAAAAd/nerd-nerdy.gif"
          />
          <div class="product_item_content">
            <div class="product_item_title">Xd gowno</div>
            <div class="product_item_price">512 zł</div>
          </div>
          <div class="product_item_delete">

          </div>
        </div>
      </div>
      <div class="card checkout_card">
        <div class="checkout_card_sum_container">
          <div class="checkout_card_label">Sum</div>
          <div class="checkout_card_sum">
            5000
            <span class="checkout_card_sum_price_currency">USD</span>
          </div>
        </div>
        <a href="/auth/register"
          ><div
            class="
              styled_button styled_primary_button buy_now_button
            "
          >
            Buy now
          </div></a
        >
      </div>
    </div>
    <footer th:replace="global :: footer"></footer>
    <script th:replace="global :: js"></script>
  </body>
</html>
