<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Global Fragments</title>
  </head>
  <body>
    <header th:fragment="navbar">
      <nav class="navbar">
        <div class="styled_content">
          <div class="navbar_logo">
            <!-- Your logo here -->
            <a href="/">PAB</a>
          </div>
          <div class="navbar_links">
            <div class="navbar_link"><a href="/">Home</a></div>
            <div class="navbar_link"><a href="/about">About</a></div>
            <div class="navbar_link"><a href="/contact">Contact</a></div>
            <div class="navbar_link"><a href="/login">Login</a></div>
          </div>
        </div>
      </nav>
    </header>

    <head th:fragment="global-head">
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap"
        rel="stylesheet"
      />
      <link rel="stylesheet" th:href="@{/css/global.css}" />
    </head>
  </body>
</html>
