<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/css/products.css}" />
    <head th:replace="global :: global-head"> </head>
  </head>
  <body>
    <nav th:replace="global :: navbar"></nav>
    <div id="products" class="styled_content products_container">
        
    </div>
    <footer th:replace="global :: footer"></footer>
    <script th:replace="global :: js"></script>

    <script>
        (async () => {
            const products = await fetch('/api/product/all').then(response => response.json())

            const productsContainer = document.getElementById('products')

            products.forEach(product => {
                const productItem = document.createElement('a')
                productItem.classList.add('product_item')
                productItem.href = `/product?id=${product.id}`

                const productItemImage = document.createElement('img')
                productItemImage.classList.add('product_item_image')
                productItemImage.src = product.image

                const productItemContent = document.createElement('div')
                productItemContent.classList.add('product_item_content')

                const productItemTitle = document.createElement('div')
                productItemTitle.classList.add('product_item_title')
                productItemTitle.innerText = product.name

                const productItemPrice = document.createElement('div')
                productItemPrice.classList.add('product_item_price')
                productItemPrice.innerText = product.price

                productItemContent.appendChild(productItemTitle)
                productItemContent.appendChild(productItemPrice)

                productItem.appendChild(productItemImage)
                productItem.appendChild(productItemContent)

                productsContainer.appendChild(productItem)
            })
        })();
    </script>
  </body>
</html>
