<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>View Product</title>
    <link rel="stylesheet" th:href="@{/css/products_view.css}" />
    <head th:replace="global :: global-head"> </head>
  </head>
  <body>
    <nav th:replace="global :: navbar"></nav>
    <div class="styled_content hero">
      <div class="card product_card">
        <img
          class="product_card_image"
          src="https://media.tenor.com/xCc58fEqFREAAAAd/nerd-nerdy.gif"
        />
        <div class="card product_card_content">
          <div class="product_card_title">Express.js</div>
          <div class="product_card_desc">
            Ekspres ciśnieniowy Siemens 1500W wytwarzający ciśnienie o mocy 19
            Bar. Posiada funkcje: Spienianie mleka, Wskaźnik poziomu wody,
            Regulacja mocy kawy, Wskaźnik temperatury. Możliwa regulacja: Ilość
            kawy, Moc kawy, Stopień zmielenia kawy, Temperatura kawy
          </div>
        </div>
      </div>
      <div class="card product_actions_card">
        <div class="product_actions_card_price">69 420 <span class="product_actions_card_price_currency">USD</span></div>
        <a href="/auth/register"
          ><div class="styled_button styled_primary_button .product_actions_card_buy_now_button">Add to basket</div></a
        >
      </div>
    </div>
    <footer th:replace="global :: footer"></footer>
  </body>
</html>
