:root {
  --ui-font-family: "Inter",-apple-system,BlinkMacSystemFont,"Poppins","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  --ui-input-border: rgba(0, 0, 0, 0.06);
  --ui-input-border-hover: rgba(0, 0, 0, 0.12);
  --ui-input-color: #000;
  --ui-page-background: #f3f5f8;
  --ui-page-color: #000;
  --ui-primary-color: rgb(16, 135, 253);
  --ui-navbar-content-offset: 32px;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}

body {
  width: 100%;
  height: 100vh;
  cursor: default;
  margin: 0px;
  padding: 0px;
  background-color: var(--ui-page-background);
  color: var(--ui-page-color);
  font-size: 16px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: var(--ui-font-family);
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

.styled_input {
  border: 1px solid var(--ui-input-border);
  font-size: 14px;
  color: var(--ui-input-color);
  padding: 12px;
  outline: none;
  border-radius: 8px;
}

.styled_input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.styled_input:hover, .styled_input:active, .styled_input:focus {
  border: 1px solid var(--ui-input-border-hover);
}

.styled_content {
  --ui_content_lg_margin_x: 24px;
  --ui_content_lg_width: 1536px;
  width: calc(100% - calc(var(--ui_content_lg_margin_x) * 2));
  max-width: var(--ui_content_lg_width);
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  width: 100%;
  height: 64px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  flex-shrink: 0;
}

.navbar_logo {
  font-size: 20px;
  color: #000;
}

.navbar .styled_content {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar_links {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: auto;
  column-gap: 16px;
}

.navbar_logo, .navbar_link {
  height: 100%;
  padding: 0px 8px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  transition: 0.15s color;
}

.navbar_logo a , .navbar_link a {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar_logo:hover, .navbar_link:hover {
  color: rgba(0, 0, 0, 1);
}

.navbar_link {
  font-size: 14px;
}

.styled_form {
  width: 100%;
  max-width: 512px;
  border-radius: 12px;
  background-color: #fff;
  padding: 24px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.styled_form_header {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}

.styled_form_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.styled_form_footer {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.styled_button {
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
  min-width: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border: 1px solid transparent;
  user-select: none;
  transition: 0.15s background-color, 0.15s color, 0.15s border;
}

.styled_secondary_button {
  background-color: transparent;
  color: rgba(16, 135, 253, 1);
  border: 1px solid rgba(16, 135, 253, 0.24);
}

.styled_secondary_button:hover {
  background-color: rgba(16, 135, 253, 0.24);
  border: 1px solid rgba(16, 135, 253, 0.32);
}

.styled_primary_button {
  background-color: rgb(16, 135, 253);
  color: #fff;
}

.styled_primary_button:hover {
  background-color: rgb(20, 100, 179);
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 12px;
  padding: 24px;
  margin-top: auto;
}

