<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <head th:replace="global :: global-head">
    </head>
</head>
<body>
    <nav th:replace="global :: navbar"></nav>
    <div class="styled_content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam aliquam ullam quia tenetur dolor veniam hic voluptates nulla dolore! Harum delectus architecto non quae dicta est quo ad veniam repellendus?
    </div>
</body>
</html>
